@mixin cloudMixin($top, $delay, $animationDuration) {
    position: absolute;
    top: $top;
    right: -80px;
    height: 60px;
    width: 80px;
    z-index: -1;
    animation-name: animateCloud;
    animation-delay: $delay;
    animation-duration: $animationDuration;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0.5;
}

.WeatherClouds__1 {
    @include cloudMixin(20px, 1.5s, 20s)
}
.WeatherClouds__2 {
    @include cloudMixin(75px, 7s, 21s)
}
.WeatherClouds__3 {
    @include cloudMixin(50px, 3s, 19s)
}
.WeatherClouds__4 {
    @include cloudMixin(60px, 6s, 21s)
}
.WeatherClouds__5 {
    @include cloudMixin(90px, 15s, 19s)
}
.WeatherClouds__6 {
    @include cloudMixin(36px, 12s, 20s)
}

@keyframes animateCloud {
    from {
        right: -80px;
    }
    to {
        right: 1500px;
    }
}