@import "styles/config";

.Showplace__div {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Showplace__div__img {
    z-index: 0;
    max-height: 70%;
    height: 12vw;
}

@media (max-width: $width--tablet) {
    .Showplace__div {
        display: none;
    }
}