@import "styles/config";

$heightHeader: 50px;

.DateHeader__header {
  z-index: 1;
  height: $heightHeader;
  background-color: $backgroundColor--3;
}

.DateHeader__header__div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.DateHeader__barIcon {
  display: none;
  position: absolute;
  left: 10px;
  color: $colorFont--1;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.DateHeader__header__div__p {
  color: $colorFont--1;
  font-size: 1.5rem;
}

@media (max-width: $width--phone) {
  .DateHeader__header__div__p {
    font-size: 1.2rem;
  }
}

@media (max-width: $width--tablet) {
  .DateHeader__barIcon {
    display: block;
  }
}