@import "styles/config";

.DateHeader__header {
  z-index: 1;
  height: 50px;
  background-color: $backgroundColor--3;
}

.DateHeader__header__div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DateHeader__header__div__p {
  font-size: 1.5rem;
}