@import "styles/config";

.RoundAnimateFrame {
    background-color: white;
    position: relative;
    right: 0;
    border-radius: $borderRadius;
    overflow: hidden;

    animation-duration: 1.5s;
    animation-name: WeatherCardAppear;
}

.RoundAnimateFrame__bigFrame {
    width: 80vw;
    height: 80vh;
}

.RoundAnimateFrame__smallFrame {
    width: 40vw;
    height: 40vh;
}

@media (max-width: $width--phone) {
    .RoundAnimateFrame__bigFrame {
        width: 90vw;
    }
    .RoundAnimateFrame__smallFrame {
        width: 80vw;
    }
}

@keyframes WeatherCardAppear {
    0% {
        right: 2000px;
    }
    100% {
        right: 0;
    }
}