$colorFont--1: #f5f5f5;

$backgroundColor--1: rgb(87,75,144);
$backgroundColor--2: rgb(172, 97, 171);
$backgroundColor--3: #293b50;

$color--1: rgba(30,42,120,1);
$color--2: #ffffff;

$borderRadius: 15px;

$width--tablet: 992px;
$width--phone: 601px;